:root {
/*   --font-family: 'Arial', sans-serif; */
  --bg-gradient-start: #1f1c2c;
  --bg-gradient-end: #928dab;
  --text-color: #fff;
  --section-bg: rgba(255, 255, 255, 0.1);
  --section-border-radius: 15px;
  --section-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --section-blur: blur(10px);
}


.welcome-section, .services-section, .faq-section {
  margin-top: 40%;
  margin-bottom: 50px; /* Añade margen inferior para evitar superposición */
  padding-top: 50vh;
  width:100%;
/*   margin: 80px 20px 20px; */
  
 background: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
/*   border-radius: var(--section-border-radius); */
  box-shadow: var(--section-box-shadow);
  backdrop-filter: var(--section-blur);
  -webkit-backdrop-filter: var(--section-blur);
}

.welcome-section {
    width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

@media (max-width: 1200px) {
  #sticky-parallax-header {
    font-size: calc(3vw + 0.5em);
  }
  .centrada {
    width: 40%;
    left: 20%;
  }
}

@media (max-width: 768px) {
  #sticky-parallax-header {
    font-size: calc(2.5vw + 0.5em);
  }
  .centrada {
    width: 50%;
    left: 10%;
  }
}

@media (max-width: 480px) {
  #sticky-parallax-header {
    font-size: calc(2vw + 0.5em);
    height: 50vh;
  }
  .centrada {
    width: 60%;
    left: 5%;
  }
}
