.partegaleri{
    font-family: 'Roboto', sans-serif;
  color:#79ffb4;
  font-size:12px;
  overflow-y:hidden;
}
.titulo_Galeria{
  font-size:42vh;
}
.colums {
  margin:10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
     overflow-x: hidden;
}
.colum__item-imgwrap img{
  overflow:hidden;
   border-radius: 25px;
  width:220px;
  height:420px;
  margin:10px;
      objet-fit:cover;
}

.colum {
  margin:10px;
	display: flex;
  	overflow-y: hidden;
	flex-direction: column;
}.column-reverse {
  	overflow-y: hidden;
	transform: translateY(calc(-100% + 100vh));
}
.colum {
	overflow-y: hidden;
}.colum-reverse {
  	overflow-y: hidden;
	flex-direction: column-reverse;
   transform: translateY(calc(-100% + 100vh));
}@keyframes adjust-position {
	/* Start position: shift entire column up, but not so that it goes out of view */
	from {
		transform: translateY(calc(-100% + 100vh));
    
    overflow-y: hidden;
	}

	/* End position: shift entire column down, but not so that it goes out of view */
	to {
		transform: translateY(calc(100% - 100vh));
    	overflow-y: hidden;
	}
}

.colum-reverse {
  	overflow-y: hidden;
	animation: adjust-position linear forwards;
	animation-timeline: scroll(root block);
}
@media (max-width: 1024px) {
  .colum__item-imgwrap img {
    width: 180px; /* Ajuste o tamanho das imagens para tablets */
    height: 360px;
  }
}

@media (max-width: 768px) {
  .colum__item-imgwrap img {
    width: 120px; /* Ajuste o tamanho das imagens para celulares */
    height: 240px;
  }

  figure.colum__item {
    margin: 5px; /* Ajuste a margem do figure para celulares */
  }
}
