.parte8{
    font-family: 'Arial', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
  gap:10;
}

.container glassmorphism {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glassmorphism {
        max-height: 220px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    padding: 20px;
    color: black; 
    animation:tilt-in-bottom-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 40%;

}
@-webkit-keyframes tilt-in-bottom-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
            transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-bottom-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
            transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.neumorphism { animation:tilt-in-bottom-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 40%;
        max-height: 220px;
    background: #e0e0e0;
    border-radius: 12px;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    padding: 20px;
    color: black;
  margin:10px;
}

.sect h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
}

.sect p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
}
@media (max-width: 768px) {
    .container glassmorphism {
        width: 90%; 
        margin: 10px; 
    }

   .sect h1 {
        font-size: 20px;
    }

    sect p {
        font-size: 14px; 
    }
}
