 @media (max-width: 600px) {
      .contal {
     
            padding: 10px;
        /* Ajuste para telas menores */
      }
    } .parte7{
   
      text-align: center;
    /* display: grid; */
    animation:swing-in-top-fwd linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 50%;
    place-items: center;
    background: linear-gradient(to bottom right, #00ffcc, #0080ff); background: linear-gradient(to bottom right, #00ffcc, #0080ff); }
     @keyframes swing-in-top-fwd {
       0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
    }

 .contal {
            position: relative;
            display: inline-block;
   border:9px solid #0099f1;
   border-radius:20px;
        }

        .image { border-radius:20px;
            display: block;
            width: 300px;
            height: 300px;
            background-image: url('https://github.com/josemoises2007/empresa-sustentavel/assets/106701602/0f991168-3849-423b-ae07-81cbdea823a4');
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 10px;
        }

        input[type=text]:focus {
            border: 3px dashed green;
            outline: none;
            border-width: 1px;
            transition: all 0.3s ease;
        }

        .input {
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - 80px); /* Ajuste para dar espaço ao botão de envio */
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius:20px;
            background: linear-gradient(180deg, rgba(13,200,0,0.1745885854341737) 4%, rgba(255,255,255,0.1054009103641457) 43%, rgba(13,200,0,0.1054009103641457) 76%, rgba(13,200,0,0.1138042717086834) 100%);
            box-shadow: inset 0px 55px 1px 0px rgba(255, 255, 255, 0.1),
                        inset 0px -20px 5px 0px rgba(0,0,0,0.1),
                        0px 4px 8px rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            color: #4e9a28;
            font-size: 16px;
            transition: box-shadow 0.3s ease, border 0.3s ease;
        }

        .input::placeholder {
            color: rgba(255, 255, 255, 1.7);
          
      }.input:hover{
        background: #4e9a28;
box-shadow:  20px 20px 60px #428322,
             -20px -20px 60px #5ab12e;
        color:white;
        -webkit-box-shadow: inset 55px -36px 58px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 55px -36px 58px -8px rgba(0,0,0,0.75);
box-shadow: inset 55px -36px 58px -8px rgba(0,0,0,0.75);
      }

        .submit {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 80px;
            padding: 10px;
            box-sizing: border-box;
            border: 2px solid #4e9a28;
             border-radius:20px;
            background: linear-gradient(180deg, rgba(13,200,0,0.1745885854341737) 4%, rgba(255,255,255,0.1054009103641457) 43%, rgba(13,200,0,0.1054009103641457) 76%, rgba(13,200,0,0.1138042717086834) 100%);
            box-shadow: inset 0px 55px 1px 0px rgba(255, 255, 255, 0.1),
                        inset 0px -20px 5px 0px rgba(0,0,0,0.1),
                        0px 4px 8px rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            color: #4e9a28;
            font-size: 16px;
            transition: all 0.3s ease;
            cursor: pointer;
        }
      .submit:hover{
        background:#4e9a28;
        color:white;
      }
      .map-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            overflow: hidden;
        }
        .map-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
        /* Media query para garantir que o mapa seja visualizado corretamente em dispositivos móveis */
        @media (max-width: 600px) {
            .map-container {
                padding-bottom: 75%; /* Ajustar a proporção conforme necessário */
            }
        }
