
body{
  margin:0;
  padding:0;
  font-size: 1.5rem;
  margin-inline: auto;
  overflow-x: hidden;
/*  
display: flex;

align-items: center;

justify-content: center;
   transition: background-color 0.3s ease; */
  
}
